#!/bin/bash
# 2025-04-23 JC
for hba in /sys/class/scsi_host/host*/scan ; do echo '- - - ' > $hba; done ; fdisk -l
pvcreate /dev/sdc
vgextend vg_system  /dev/sdc
lvextend -r -L+1.5g /dev/mapper/vg_system-lv_root
df -hP
